<div class="page signup user-signup">
  <section class="grey">
    <div class="show-for-medium-up">
      <ul class="list-inline">
        <li ng-class="{active: isCurrentState(1)}" >
          <div>1</div>
        </li>
        <li ng-class="{active: isCurrentState(2)}" >
          <div>2</div>
        </li>
        <li ng-class="{active: isCurrentState(3)}" >
          <div>3</div>
        </li>
        <li ng-class="{active: isCurrentState(4)}" >
          <div>4</div>
        </li>
      </ul>

	    <progress></progress>
    </div>
    <div class="title-block">
      <div class="row">
        <div class="large-12 columns">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="large-8 columns">
          <div ui-view="signupContent">
            <!-- Sign up Content   -->
          </div>
        </div>
        <div class="large-4 columns show-for-large-up">
          <div class="tips">
            <p class="title"><span>Privacy</span></p>
          </div>
        </div>
      </div>
    </div>

  </section>
	<div class="">
		<a href="" ng-click="log(forms.current)" class="button">form</a>
		<a class="btn btn-default" href="" ng-hide="isFirst()" ng-click="back()" class="button">Back</a>
		<a class="btn btn-default" href="" ng-click="goNext(forms.current)" ng-disabled="forms.current.$invalid" class="button">{{isLast()?'SEND':'Next'}}</a>
	</div>
</div>
