<form novalidate ng-class="{'show-errors': submitted}" name="step2Form">
  <fieldset ng-init="setForm(step2Form, 'step2')">
    <h5>Company Details</h5>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="company.trading_name"  name="name" placeholder="Company Name"/>
      </div>
    </div>
    <div class="row">
      <div class="large-6 small-12 columns">
        <input type="text" ng-model="company.company_number"  name="number" placeholder="Company Number"/>
      </div>
      <div class="large-6 small-12 columns">
        <input type="text" ng-model="company.vat_number"  name="vatNumber" placeholder="VAT Number"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="company.address_line_1"  name="address_line_1" placeholder="Address Line 1"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="company.address_line_2" name="address_line_2"  placeholder="Address Line 2"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="company.district" name="district"  placeholder="District"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="company.city"  name="city"  placeholder="City"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="company.country"  name="country"  placeholder="Country"/>
      </div>
    </div>
    <div class="row">
      <div class="large-6 small-12 columns">
        <input type="text" ng-model="company.postcode"  name="postcode" placeholder="Postcode"
               ng-pattern="/^(GIR ?0AA|[A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]([0-9ABEHMNPRV-Y])?)|[0-9][A-HJKPS-UW])\s?[0-9][ABD-HJLNP-UW-Z]{2})$/"/>
      </div>

    </div>
  </fieldset>
</form>
