<form novalidate ng-class="{'show-errors': submitted}" name="step3Form">
  <fieldset ng-init="setForm(step3Form, 'step3')">
    <div clas="tickbox-header">
      <h5>
        Clinic Details
        <div class="pull-right">
          <input type="checkbox" ng-change="copyCompany(isCopyCompany)" ng-model="isCopyCompany" id="copy">
          <label for="copy">Copy Company Details</label>
        </div>
      </h5>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="clinic.name"  name="name" placeholder="Clinic Name"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="clinic.address_line_1"  name="address_line_1" placeholder="Address Line 1"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="clinic.address_line_2" name="address_line_2"  placeholder="Address Line 2"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="clinic.district" name="district"  placeholder="District"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="clinic.city"  name="city"  placeholder="City"/>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input type="text" ng-model="clinic.country"  name="country"  placeholder="Country"/>
      </div>
    </div>

    <div class="row">
      <div class="large-6 small-12 columns">
        <input type="text" ng-model="clinic.postcode"  name="postcode" placeholder="Postcode"/>
      </div>
      <div class="large-6 small-12 columns">
        <input type="text" ng-model="clinic.phone"  name="phone" placeholder="Telephone Number"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <textarea ng-model="clinic.description"  name="profile" placeholder="Profile"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="url" ng-model="clinic.web"  name="website" placeholder="Website URL"/>
      </div>
    </div>
  </fieldset>

  <fieldset flow-init
            flow-name="uploader.flow"
            flow-files-submitted="onImagesSubmit($flow)"
            flow-files-added="addPhotos($files)"
            flow-upload-started="onUpload()">
    <h5>Upload a picture</h5>
    <div class="row">
      <div class="large-12 columns">
        <div flow-drop class="fileupload">
          <div class="small-8 columns hide-for-small-only">
            <input type="text" class="filepath" placeholder="Choose a photo to upload" disabled="disabled" />
          </div>
          <div class="large-4 small-12 columns">
            <div flow-btn type="file" class="button">
              <span>Browse</span>
              <input id="uploadBtn"  class="upload" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div ng-repeat="media in clinicMedium">
          <div ng-hide="media.data" class="preview-box"></div>
          <img ng-show="media.data" class="preview-box img-responsive" ng-click="removePhoto(media.data)" flow-img="media.data">
        </div>
      </div>
    </div>
    <h5>Select picture to use it as default</h5>
    <div class="row">
      <div class="small-12 large-3 columns">

       <img ng-if = "!clinicDefault.local_uri" class="preview-box img-responsive dropdown main-menu"  dropdown-toggle="#drop-image">
       <img ng-if = "clinicDefault.local_uri" class="preview-box img-responsive dropdown main-menu" data-ng-src="data:image/jpeg;base64,{{clinicDefault.local_uri}}" dropdown-toggle="#drop-image">
        <ul class="f-dropdown"  id="drop-image" >
          <li ng-repeat="media in clinicMedium | filter:{local_uri: '!!'}"><img class="preview-box img-responsive" ng-click="setDefault(media)" flow-img="media.data"></li>
        </ul>
      </div>
    </div>
  </fieldset>
  <div class="errors" ng-repeat='error in photoErrors track by $index'>
    <p>{{error}}</p>
  </div>
    <div class="row">
      <div class="small-12 columns"><h5>Opening Times</h5></div>
    </div>
    <div class="row">
      <div class="opening-times">
        <div class="small-12 columns">
          <div class="row"  ng-repeat="day in week">
            <div class="small-2 columns">
              <input ng-model="officeHours[day]['isWorking']" type="checkbox" id="{{day}}">
              <label for="{{day}}">{{day}}</label>
            </div>
            <div class="small-10 columns">
              <select ng-init="officeHours[day]['open'] = officeHours[day]['open'] || times[0]" ng-model="officeHours[day]['open']" ng-options="moment as moment for moment in times">
              </select>
              <span>to</span>
              <select ng-init="officeHours[day]['close'] = officeHours[day]['close'] || times[times.length-1]" ng-model="officeHours[day]['close']" ng-options="moment as moment for moment in (times.slice(times.indexOf(officeHours[day]['open'])+1))">
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>

  </fieldset>
  <div class="errors" ng-repeat='error in errors track by $index'>
    <p>{{error}}</p>
  </div>

</form>
