<div class="multi-form">
<progress></progress>
		<div class="title-block">
			<div class="row">
				<div class="large-12 columns">
				</div>
			</div>
		</div>

		<div >
			<div class="row">
				<div class="large-8 columns">
					<div ui-view="multisteps">
						<!-- Multistep form Content   -->
					</div>
				</div>
			</div>
		</div>
{{user}}
	<div class="">
		<a class="btn btn-default" href="" ng-hide="isFirst()" ng-click="back()" class="button">Back</a>
		<a class="btn btn-default" href="" ng-click="goNext(forms.current)" ng-disabled="forms.current.$invalid" class="button">{{isLast()?'SEND':'Next'}}</a>
	</div>
</div>
